<div class="home">
  <div class="review-container">
    <h3 class="review-container__heading">
      Rate Our Services
    </h3>
    <form class="input-container" [formGroup]="reviewForm" (ngSubmit)="submitReview(reviewForm)">
      <div class="mb-3">
        <label for="ratingInput" class="form-label">Rating</label>
        <app-rating formControlName="rating" ></app-rating>
        <!-- <input formControlName="rating" type="number" class="form-control" id="ratingInput"> -->
        <div
          *ngIf="reviewForm.get('rating').getError('min') || reviewForm.get('rating').getError('max')"
          class="alert alert-danger" id="ratingError">
          Rating should be between 1 and 5
        </div>
      </div>
      <div class="mb-3">
        <label for="commentInput" class="form-label">Comment</label>
        <textarea formControlName="comment" class="form-control" id="commentInput" rows="3"></textarea>
      </div>
      <button id="submitBtn" [disabled]="reviewForm.invalid" class="btn btn-dark" type="submit">Submit</button>
    </form>
    <div class="review-container__form-value">
      <div class="row">
        <div class="col">
          <h4>Form Details</h4>
          <label>Form Invalid: </label>
          <p class="review-container__form-value__val">{{reviewForm.invalid}}</p>
          <label>Form Value: </label>
          <pre class="review-container__form-value__val">
            {{reviewForm.value | json}}
          </pre>
        </div>
        <div class="col" *ngIf="ratingComponent">
          <h4>Rating Component Details</h4>
          <label>Value: </label>
          <p class="review-container__form-value__val">{{ratingComponent.value}}</p>
          <label>IsMouseOver: </label>
          <p class="review-container__form-value__val">{{ratingComponent.isMouseOver}}</p>
          <label>Hovered Rating: </label>
          <p class="review-container__form-value__val">{{ratingComponent.hoveredRating}}</p>
          <label>Is Disabled: </label>
          <p class="review-container__form-value__val">{{ratingComponent.disabled}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
